 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #57717F;
active-foreground: #E4E5E2;
normal-background: #141515;
normal-foreground: #E4E5E2;
urgent-background: #919146;
urgent-foreground: #E4E5E2;

alternate-active-background: #464B36;
alternate-active-foreground: #E4E5E2;
alternate-normal-background: #141515;
alternate-normal-foreground: #E4E5E2;
alternate-urgent-background: #141515;
alternate-urgent-foreground: #E4E5E2;

selected-active-background: #57717F;
selected-active-foreground: #141515;
selected-normal-background: #57717F;
selected-normal-foreground: #141515;
selected-urgent-background: #464B36;
selected-urgent-foreground: #141515;

background-color: #141515;
background: rgba(0,0,0,0.7);
foreground: #E4E5E2;
border-color: #57717F;

color0: #3B3C3D;
color1: #0D1012;
color2: #0D1012;
color3: #343828;
color4: #41555F;
color5: #6D6D35;
color6: #868780;
color7: #D1D1CD;
color8: #92928F;
color9: #111518;
color10: #111518;
color11: #464B36;
color12: #57717F;
color13: #919146;
color14: #B3B4AB;
color15: #D1D1CD;


}

