 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #6F71DD;
active-foreground: #F6F0F3;
normal-background: #050019;
normal-foreground: #F6F0F3;
urgent-background: #AE93D9;
urgent-foreground: #F6F0F3;

alternate-active-background: #1E30A8;
alternate-active-foreground: #F6F0F3;
alternate-normal-background: #050019;
alternate-normal-foreground: #F6F0F3;
alternate-urgent-background: #050019;
alternate-urgent-foreground: #F6F0F3;

selected-active-background: #6F71DD;
selected-active-foreground: #050019;
selected-normal-background: #6F71DD;
selected-normal-foreground: #050019;
selected-urgent-background: #1E30A8;
selected-urgent-foreground: #050019;

background-color: #050019;
background: rgba(0,0,0,0.7);
foreground: #F6F0F3;
border-color: #6F71DD;

color0: #050019;
color1: #16247E;
color2: #16247E;
color3: #16247E;
color4: #5355A6;
color5: #836EA3;
color6: #AC9EA5;
color7: #EAE1E5;
color8: #A39DA0;
color9: #1E30A8;
color10: #1E30A8;
color11: #1E30A8;
color12: #6F71DD;
color13: #AE93D9;
color14: #E5D3DC;
color15: #EAE1E5;


}

