 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #2C58A0;
active-foreground: #FDF1CC;
normal-background: #1F1F20;
normal-foreground: #FDF1CC;
urgent-background: #BE5E35;
urgent-foreground: #FDF1CC;

alternate-active-background: #59372E;
alternate-active-foreground: #FDF1CC;
alternate-normal-background: #1F1F20;
alternate-normal-foreground: #FDF1CC;
alternate-urgent-background: #1F1F20;
alternate-urgent-foreground: #FDF1CC;

selected-active-background: #2C58A0;
selected-active-foreground: #1F1F20;
selected-normal-background: #2C58A0;
selected-normal-foreground: #1F1F20;
selected-urgent-background: #59372E;
selected-urgent-foreground: #1F1F20;

background-color: #1F1F20;
background: rgba(0,0,0,0.7);
foreground: #FDF1CC;
border-color: #2C58A0;

color0: #454546;
color1: #17161C;
color2: #17161C;
color3: #432922;
color4: #214278;
color5: #8E4728;
color6: #BCA152;
color7: #F4E2AE;
color8: #AB9E7A;
color9: #1F1E25;
color10: #1F1E25;
color11: #59372E;
color12: #2C58A0;
color13: #BE5E35;
color14: #FAD66E;
color15: #F4E2AE;


}

